driver.mysql=org.gjt.mm.mysql.Driver 
driver.oracle=oracle.jdbc.driver.OracleDriver 
driver.postgresql=org.postgresql.Driver 

# core database 
org.cougaar.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.database.user=ultralog
org.cougaar.database.password=ul-password 

# oplan database -- A new (10.4.1) entry for OPLAN information.
org.cougaar.oplan.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.oplan.user=ultralog
org.cougaar.oplan.password=ul-password

# oplan database 
#oplan.test.database=jdbc:mysql://mango/cougaarPAD 
#oplan.test.database.user=ultralog 
#oplan.test.database.password=ul-password 

# blackjack 
blackjack.database=jdbc:mysql://mango/cougaarPAD 
blackjack.database.user=ultralog 
blackjack.database.password=ul-password 

# blackjack8 
#blackjack8.database=jdbc:mysql://mango/cougaarPAD 
#blackjack8.database.user=ultralog 
#blackjack8.database.password=ul-password 

# icis 
icis.database=jdbc:mysql://mango/cougaarPAD 
icis.database.user=ultralog 
icis.database.password=ul-password 

# generic database expander 
#generic.database.expander.database=jdbc:mysql://mango/cougaarPAD 
#generic.database.expander.user=ultralog 
#generic.database.expander.password=ul-password 
#generic.database.expander.expansion_table=construction_expansion 

# configuration database 
org.cougaar.configuration.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.configuration.user=ultralog
org.cougaar.configuration.password=ul-password

# ref config db
org.cougaar.refconfig.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.refconfig.user=ultralog
org.cougaar.refconfig.password=ul-password

# oplan db
org.cougaar.oplan.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.oplan.user=ultralog
org.cougaar.oplan.password=ul-password

# fcs db
fcs.database=jdbc:mysql://mango/cougaarPAD
fcs.database.user=ultralog
fcs.database.password=ul-password

# datagrabber database configuration
# On the next line, DATAGRABBER_DBNAME is typically "Grabber" but can be anything you like.
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.connectionURL=jdbc:mysql://mango/cougaarPAD
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.user=ultralog
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.password=ul-password
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.syntax=MySQL

# ACME database configuration
org.cougaar.refconfig.database=jdbc:mysql://mango/cougaarPAD
org.cougaar.refconfig.user=ultralog
org.cougaar.refconfig.password=ul-password

#org.cougaar.lib.web.https.factory=org.cougaar.core.security.ssl.WebtomcatSSLServerFactory

#org.cougaar.web.keystore=tomcatKeystore
#org.cougaar.web.keypass=changeit
